<div class="main-container">
  <h1 class="title">Chess Battle ♟️🔥</h1>

  <div class="controls">
    <label for="colorSelect">Choose Board Theme:</label>
    <select id="colorSelect" (change)="changeBoardColor($event)">
      <option value="classic">Classic (Brown & Beige)</option>
      <option value="blue">Blue & White</option>
      <option value="green">Green & Cream</option>
      <option value="purple">Purple & Pink</option>
    </select>
  </div>

  <div class="controls">
    <button (click)="resetGame()">Reset Game</button>
    <button (click)="createOnlineGame()">Create Online Game</button>
    <input type="text" [(ngModel)]="gameId" placeholder="Enter game code">
    <button (click)="joinOnlineGame(gameId)">Join Game</button>
  </div>

    <div class="iframe-container" *ngIf="isOnlineMode">
      <iframe *ngIf="createdByCurrentUser" src="/iframe?player=white" id="iframe1"></iframe>
      <iframe *ngIf="!createdByCurrentUser" #iframe2 src="/iframe?player=black" id="iframe2"></iframe>
    </div>
    <div class="iframe-container" *ngIf="!isOnlineMode">
      <iframe #iframe1 src="/iframe?player=white" id="iframe1"></iframe>
      <iframe #iframe2 src="/iframe?player=black" id="iframe2"></iframe>
    </div>
  </div>